{$APP_DOMAIN:localhost} {
	encode zstd gzip

	@protected not path /health
	basic_auth @protected {
		{$APP_BASIC_AUTH_USERNAME} {$APP_BASIC_AUTH_PASSWORD_HASH}
	}

	handle /api/* {
		reverse_proxy backend:8000
	}

	handle /health {
		reverse_proxy backend:8000
	}

	handle {
		reverse_proxy frontend:3000
	}
}
